*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.main-banner .first-banner{
    text-align: center;
    
}
.first-banner h1{
    padding-top: 80px;
    font-size: 60px;
    padding-left:300px ;
    padding-right: 300px;
    color: #fff;
    
    
}
.first-banner p{
    padding-top: 20px;
    padding-left:250px ;
    padding-right: 300px;
    font-size: 20px;
    color: white; 
   
}
.main-banner{
    background-image: url(image/donation41.jpg);
    background-repeat: no-repeat;
    height: 600px;
    max-width: 3000px;
    background-size: cover;
   
} 
.btn{
   margin-top: 40px;
   height: 60px;
   width: 200px;
   font-size: 24px;
  background-image:linear-gradient(90deg,#F83292 ,#814096);
   border: none;
   color: #fff;
   border-radius: 5px;
   
}
.donate-today .donate-text{
    text-align: center;
    padding-top: 80px;
}
.donate-text h1{
    font-size: 45px;
}
.main-box{
    display: flex;
    padding-left: 300px;
    justify-content: space-evenly;
    padding-right: 300px;
    padding-top: 50px;
   
}
.box{
    
   height: 70px;
   width: 100px;
   background-color:#F1EDEC;
   text-align: center;
   
   
}
.box p{
    padding-top: 20px;
}
.box-dad{
    background: #FFEEEE;
    height: 50px;
    border:1px solid #FF5959;
}

.input-area{
    text-align: center;
    padding-top: 50px;
}
input{
    height: 60px;
    width: 660px;
    text-align: center;
    box-shadow: 0px 3px 0px#DEE1E6;
    border: none;
    font-size: 22px;
}
.donation-plan{
    margin-top: 100px;
}
.donation-plan .text-area{
    text-align: center;
}
.donation-plan .text-area h1{
    font-size: 45px;

}
.donation-plan .text-area p{
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 40px;
}
.box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}
.box-container .box1{
    background-color: #EDF5F6;
    width: 30%;
    height: 400px;
}
.box-container .box1 img{
    padding-top: 50px;
    padding-left: 20px;
}
.box-container .box1 h3{
    font-size: 26px;
    padding-left: 20px;

}
.box-container .box1 p{
    padding-left: 20px;
    padding-right: 20px;
    
}

.box-container .box2{
    width: 30%;
    background-color: #FFEEEE;
}
.box-container .box2 img{
    padding-top: 50px;
    padding-left: 20px;
}
.box-container .box2 h3{
    font-size: 26px;
    padding-left: 20px;

}
.box-container .box2 p{
    padding-left: 20px;
    padding-right: 20px;
   
}
.box-container .box3{
    width: 30%;
    background: #FFF4D6;
}
.box-container .box3 img{
    padding-top: 50px;
    padding-left: 20px;
}
.box-container .box3 h3{
    font-size: 26px;
    padding-left: 20px;

}
.box-container .box3 p{
    padding-left: 20px;
    padding-right: 20px;
    
}
.last-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly
   
}
.last-container .text-area{
    width: 50%;
    text-align: center;

}
.last-container .text-area h1{
   margin-top: 10px;
   padding-left: 100px;
   padding-right: 80px;
   font-size: 45px;
}
.last-container .text-area p{
  
   margin-right: 20px;
}
.last-container .text-area .butn{
    height: 60px;
    width: 200px;
    background-image: linear-gradient(#F83292 ,#814096);
    margin-top: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}


.image-area{
    width: 40%;
    margin-right: 50px;
}
.image-area img{
    border-radius: 5px;
}
.footer{
    height: 200px;
    width: 100%;
    background: #0B0D17;
    
}
.footer h1{
    text-align: center;
    color: white;
    padding-top: 100px;
}
